a:link{
    color: #000;
}
a:visited{
    color: #000;
}

a#titlea{
    text-decoration: none;
    background-color: mediumseagreen;
    border: 0%;
}
a#titlea h1{
    text-align: center;
    margin-bottom: 0%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: mediumseagreen;
}
a#titlea h3{
    text-align: center;
    margin-top: 0%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    background-color: mediumseagreen;
}
body{
    background-color: aliceblue;
}
