a:link{
    color: #000;
}

a:visited{
    color: #000;
}

a#titlea{
    text-decoration: none;
    background-color: mediumseagreen;
    border: 0%;
}

a#titlea h1{
    text-align: center;
    margin-bottom: 0%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: mediumseagreen;
}

a#titlea h3{
    text-align: center;
    margin-top: 0%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    background-color: mediumseagreen;
}

body{
    background-color:rgb(247, 247, 247);
}

section.indetification {
    background-color: aliceblue;
   position:relative;
   margin: 10px;
}

section.categories{
    margin: 10px;
    background-color: aliceblue;
}

section.categories hgroup{
    text-align: center;
}

section.categories nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
border: 1px;}

section.categories nav a {
margin: 5px;
}    
section.categories nav a div#subtext{
    margin: auto;
    margin: auto;
    justify-content: center;
}

section.top5_products hgroup{
    display: flex;
    justify-content: center;
}
SECTION.top5_products{
    background-color: rgb(235, 235, 235);
    margin: 10px;
    display: grid;
    justify-content: space-around;
} 

